<div class="panel panel-default" style="margin-top: 30px !important">
    <div class="panel-heading">
        <h1 class="panel-title">Proveedores</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="search" class="form-control" placeholder="Buscar">
                        <hr>
                    </div>
                </form>
            </div>
            <form ng-submit="postProvider(provider)">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nombre Proveedor</label>
                        <input class="form-control" ng-model="provider.name" type="text" maxlength="100" minlength="6" required>
                        <p class="help-block">Ingrese el nombre del proveedor.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Telefono Proveedor</label>
                        <input class="form-control" ng-model="provider.phone" type="text" maxlength="100" minlength="2" required>
                        <p class="help-block">Ingrese el Telefono del proveedor.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Dirección Proveedor</label>
                        <input class="form-control" ng-model="provider.location" type="text" maxlength="100" minlength="1" required>
                        <p class="help-block">Ingrese la dirección del proveedor.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Servicio</label>
                        <select  class="form-control" ng-model="provider.type" ng-options="product.$id as product.name for product in categorys" required>
                            <option value="">Elija una opción</option>
                        </select>
                        <p class="help-block">Seleccione el servicio del proveedor.</p>
                    </div>
                </div>
                <div class="col-md-12" align="right">
                    <div class="form-group">
                        <label></label>
                        <br>
                        <button type="button" class="btn btn-warning" type="submit" ng-click="setProvider(provider)">Actualizar Proveedor</button>
                        <button type="button" class="btn btn-success" type="submit" ng-click="postProvider(provider)">Guardar Proveedor</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<table class="table table-striped table-bordered table-hover table-condensed table-responsive">
    <tr>
        <thead>
            <th>Nombre</th>
            <th>Télefono</th>
            <th>Dirección</th>
            <th>Servicio</th>
            <th>Opciones</th>
        </thead>
    </tr>
    <tr dir-paginate="obj in providers|itemsPerPage:5|filter:search">
        <td>{{obj.name}}</td>
        <td>{{obj.phone}}</td>
        <td>{{obj.location}}</td>
        <td>{{getNameService(obj.type)}}</td>
        <td width="10%">
            <a ng-click="getProvider(obj.$id)" style="cursor: pointer">
                <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
            </a>
            <label></label>
            <a ng-click="deleteProvider(obj)" style="cursor: pointer">
                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</table>
<dir-pagination-controls 
max-size="5"
directions-links="true"
boundary-links="true">
</dir-pagination-controls>
<pagination num-pages="noOfPages" current-page="currentPage" class="pagination-small"></pagination>

