<div class="panel panel-default" style="margin-top: 30px !important">
	<div class="panel-heading">
		<h1 class="panel-title">Productos Por Bodega</h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div id="container">Placeholder for chart</div>				
			</div>
		</div>
	</div>
</div>
<div class="panel panel-default" style="margin-top: 30px !important">
	<div class="panel-heading">
		<h1 class="panel-title">Productos Por Bodega 3D</h1>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<div id="container2">Placeholder for chart</div>				
			</div>
		</div>
	</div>
</div>